{% extends 'main/components/layout.html' %}
{% load static %}

{% load web_tags %}
{% block content %}

            <!-- Header section -->
            <section id="header-section" class="imagebg cover cover-blocks bg--secondary text-center" data-overlay="6">
                <div class="background-image-holder hidden-xs" style="background: url"{% static 'main/images/blog-header.jpg'%}"); opacity: 1;">
                    <img alt="background" src="{% static 'main/images/blog-header.jpg'%}">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 ">
                            <div>
                                <h1>Blog</h1>
                                <hr class="short center-block">
                                <p class="lead">
                                    Información variada relacionada a nuestro ámbito de trabajo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section id="post-list" class="space--sm">
                <div class="container">
                    <div class="row">
                        <!-- list-posts -->
                        <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0">
                            <div class="masonry masonry-blog-list">
                                <div class="masonry__container">
                                    {% get_last_posts 2 page|default:1 as posts %}
                                    {% for post in posts %}
                                    <article class="masonry__item">
                                        <div class="article__title">
                                            <a href="blog-post.html">
                                                <h2>{{post.title}}</h2>
                                            </a>
                                            <span>{{post.publish_at|date:'j'}} de {{post.publish_at|date:'F'}} </span>
                                             en 
                                            <span>
                                                <a href="#" class="category">{{post.category.name}}</a>
                                            </span>
                                        </div>
                                        <!--end article title-->
                                        <div class="article__body">
                                            <a href="blog-post.html">
                                                <img alt="Image" src="{{ post.image.url }}" />
                                            </a>
                                            <p>
                                               {{post.content|safe|truncatewords_html:30}}
                                            </p>
                                            <a class="color--primary--02" href="{% url 'main:show_post' post.id %}">Continuar leyendo &raquo;</a>
                                        </div>
                                    </article>
                                    {% endfor %}
                                </div>
                                <!--end of masonry container-->
                                {% include 'main/components/paginator.html' with objects=posts %}
                            </div>
                            <!--end masonry-->
                        </div>

                        <!-- sidebar -->
                        <div class="col-md-4 col-md-push-1 col-xs-12">
                            <br class="visible-xs visible-sm">
                            <br class="visible-xs visible-sm">
                            
                            <div class="sidebar boxed boxed--border boxed--lg">
                                <div class="sidebar__widget">
                                    <h5>Buscar</h5>
                                    <form>
                                        <input type="text" name="query" placeholder="Ingrese su búsqueda aquí">
                                    </form>
                                </div>
                                <!--end widget-->
                                <div class="sidebar__widget">
                                    <h5>Sobre el Blog</h5>
                                    <p>
                                        El blog de Protección Ambiental es un espacio creado para compartir información útil y variada sobre temas relacionados a nuestro ámbito de trabajo.
                                    </p>
                                </div>
                                <!--end widget-->
                                <div class="sidebar__widget">
                                    <h5>Categorias</h5>
                                    <ul>
                                        {% get_categories as categories %}
                                        {% for c in categories %}
                                        <li>
                                            <a href="#">{{c.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
            {% endblock %}