{% extends 'main/components/layout.html' %}
{% block content %}
            <!-- Header section -->
            <section id="header-section" class="imagebg cover cover-blocks bg--secondary text-center" data-overlay="6">
                <div class="background-image-holder hidden-xs" style="background: url" {% static 'main/images/blog-header.jpg'%}
                    "); opacity: 1;">
                    <img alt="background" src="{% static 'main/images/blog-header.jpg'%}">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 ">
                            <div>
                                <h1>Blog</h1>
                                <hr class="short center-block">
                                <p class="lead">
                                    Información relacionada al ámbito de nuestro trabajo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section id="post" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                            <article>
                                <div class="article__title text-center">
                                    <h1 class="h2">Optio sed a velit totam repudiandae dignissimos</h1>
                                    <span>02 de Mayo 2017 </span>
                                    en 
                                    <span>
                                        <a href="#" class="category">Saneamiento Ambiental</a>
                                    </span>
                                </div>
                                <!--end article title-->
                                <div class="article__body">
                                    <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/blog-1.jpg" />
                                    <p>
                                        Co-working SpaceTeam fund big data prototype prototype long shadow latte big data. Innovate affordances personas user centered design paradigm user centered design innovate quantitative vs. qualitative pivot thought leader viral paradigm cortado affordances.
                                    </p>
                                    <h5>An additional point</h5>
                                    <p>
                                        Paradigm piverate innovate affordances user centered design personas pair programming Steve Jobs iterate earned media. Affordances food-truck SpaceTeam unicorn disrupt integrate viral pair programming big data pitch deck intuitive intuitive prototype long shadow. Responsive hacker intuitive driven waterfall is so 2000 and late intuitive cortado bootstrapping venture capital. Engaging food-truck integrate intuitive pair programming Steve Jobs thinker-maker-doer human-centered design.
                                    </p>
                                    <blockquote>
                                        &ldquo; We want everyone to have a great experience building their website &mdash; and with Stack they get just that&rdquo;
                                    </blockquote>
                                    <!-- <figure class="col-xs-6 pull-right">
                                        <img alt="Image" src="img/blog-2.jpg'%}" />
                                        <figcaption>Credit: Chris Campbell (via Unsplash)</figcaption>
                                    </figure> -->
                                    <p>
                                        Co-working SpaceTeam fund big data prototype prototype long shadow latte big data. Innovate affordances personas user centered design paradigm user centered design innovate quantitative vs. qualitative pivot thought leader viral paradigm cortado affordances.
                                    </p>
                                    <p>
                                        Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. Pair programming 360 campaign piverate minimum viable product pair programming bootstrapping sticky note Steve Jobs affordances ideate thinker-maker-doer big data physical computing. Workflow driven innovate long shadow SpaceTeam grok pivot.
                                    </p>
                                    <ul class="bullets">
                                        <li>Something to say</li>
                                        <li>Listing things in a list</li>
                                        <li>Pay close attention to number 4</li>
                                        <li>What happens next will shock you</li>
                                    </ul>
                                </div>
                                <div class="article__share text-center">
                                    <a class="btn bg--facebook btn--icon" href="#">
                                        <span class="btn__text">
                                            <i class="socicon socicon-facebook"></i>
                                            Compartir en Facebook
                                        </span>
                                    </a>
                                    <a class="btn bg--twitter btn--icon" href="#">
                                        <span class="btn__text">
                                            <i class="socicon socicon-twitter"></i>
                                            Compartir en Twitter
                                        </span>
                                    </a>
                                </div>
                            </article>
                            <!--end item-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
            <!-- mas articulos -->
            <section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row text-block">
                        <div class="col-sm-12">
                            <h3>Más publicaciones que pueden interesarte</h3>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/blog-2.jpg" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>25 de Diciembre 2017</span>
                                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h5>
                                    <a href="#">
                                        Leer más
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/blog-3.jpg" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>25 de Diciembre 2017</span>
                                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit dolor sit amet!</h5>
                                    <a href="#">
                                        Leer más
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-4">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/blog-4.jpg" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>25 de Diciembre 2017</span>
                                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h5>
                                    <a href="#">
                                        Leer más
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
       {% endblock %}