{% extends 'main/components/layout.html' %}
{% block content %}
        <!-- Header section -->
        <section id="header-section" class="imagebg cover cover-blocks bg--secondary" data-overlay="4">
            <div class="background-image-holder hidden-xs" style="background: url(&quot;{% static 'main/images/header-pa.jpg'%}&quot;); opacity: 1;">
                <img alt="background" src="{% static 'main/images/header-pa.jpg'%}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 ">
                        <div>
                            <h1>Bolsa de Trabajo</h1>
                            <hr class="short">
                            <p class="lead">
                                Postula a nuestros puestos de trabajo aquí
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

        <!-- No eliminar -->
        <div></div>
        <!-- No eliminar -->
        
        <!-- Puestos de Trabajo -->
        <section id="puestos-trabajo"class="bg--secondary space--sm">
            <div class="container">
                <div class="row text-block text-center ">
                    <div class="col-sm-12">
                        <h2 class="">Puestos de Trabajo Disponibles </h2>
                        <p class="lead">
                            Encuentra el puesto adecuado para ti y postula para trabajar con nosotros.
                        </p>
                    </div>
                </div>
                <!--end of row-->
                <br>
                <br>
                <!-- Masonry - Lista de puestos de trabajo -->
                <div class="masonry">
                    <div class="masonry__container">
                        <div class="masonry__item col-sm-6 ">
                            <div class="feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Nombre del puesto de trabajo </h3>
                                <p class="info type--fine-print">
                                    <span>UBICACIÓN:
                                        <span class="localidad">Arequipa</span>
                                    </span>
                                    <span>FINALIZA:
                                        <span class="finaliza text-uppercase">01/12/2018</span>
                                    </span>
                                </p>
                                <hr>
                                <h5>
                                    <i class="icon icon--xs icon-Pen"></i>
                                    Descripción</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                </p>
                                <h5>
                                    <i class="icon icon--xs icon-Bulleted-List"></i>
                                    Requisitos</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus, temporibus tempore expedita ex! Illum nemo atque iure vero perspiciatis tenetur voluptatem ipsa. Reiciendis fugiat illo dignissimos aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam eum.
                                </p>
                                <p class="wrap-btn text-center">
                                    <a class="btn btn--primary" href="#postulacion" target="_self" class="inner-link">
                                        <span class="btn__text">
                                            POSTULAR
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="masonry__item col-sm-6 ">
                            <div class="feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Nombre del puesto de trabajo </h3>
                                <p class="info type--fine-print">
                                    <span>UBICACIÓN:
                                        <span class="localidad">Arequipa</span>
                                    </span>
                                    <span>FINALIZA:
                                        <span class="finaliza text-uppercase">01/12/2018</span>
                                    </span>
                                </p>
                                <hr>
                                <h5>
                                    <i class="icon icon--xs icon-Pen"></i>
                                    Descripción</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                     Aamet consectetur adipisicing elit. Earum nobis labore delectus, temporibus tempore expedita ex! Illum nemo atque iure vero
                                    perspiciatis tenetur voluptatem ipsa. Reiciendis fugiat illo dignissimos aliquid. Lorem ipsum
                                </p>
                                <h5>
                                    <i class="icon icon--xs icon-Bulleted-List"></i>
                                    Requisitos</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                </p>
                                <p class="wrap-btn text-center">
                                    <a class="btn btn--primary" href="#postulacion" target="_self" class="inner-link">
                                        <span class="btn__text">
                                            POSTULAR
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="masonry__item col-sm-6 ">
                            <div class="feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Nombre del puesto de trabajo </h3>
                                <p class="info type--fine-print">
                                    <span>UBICACIÓN:
                                        <span class="localidad">Moquegua</span>
                                    </span>
                                    <span>FINALIZA:
                                        <span class="finaliza text-uppercase">01/12/2018</span>
                                    </span>
                                </p>
                                <hr>
                                <h5>
                                    <i class="icon icon--xs icon-Pen"></i>
                                    Descripción</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                </p>
                                <h5>
                                    <i class="icon icon--xs icon-Bulleted-List"></i>
                                    Requisitos</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                </p>
                                <p class="wrap-btn text-center">
                                    <a class="btn btn--primary" href="#postulacion" target="_self" class="inner-link">
                                        <span class="btn__text">
                                            POSTULAR
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="masonry__item col-sm-6 ">
                            <div class="feature feature-4 boxed boxed--lg boxed--border">
                                <h3>Nombre del puesto de trabajo </h3>
                                <p class="info type--fine-print">
                                    <span>UBICACIÓN:
                                        <span class="localidad">Arequipa</span>
                                    </span>
                                    <span>FINALIZA:
                                        <span class="finaliza text-uppercase">01/12/2018</span>
                                    </span>
                                </p>
                                <hr>
                                <h5>
                                    <i class="icon icon--xs icon-Pen"></i>
                                    Descripción</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus.
                                </p>
                                <h5>
                                    <i class="icon icon--xs icon-Bulleted-List"></i>
                                    Requisitos</h5>
                                <p class="descripcion">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis labore delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, molestiae voluptatem fugit quasi ea odio eveniet aperiam rem nam, voluptatibus tenetur ut at temporibus nostrum consequuntur eos officia! Corrupti, nulla.
                                </p>
                                <p class="wrap-btn text-center">
                                    <a class="btn btn--primary" href="#postulacion" target="_self" class="inner-link">
                                        <span class="btn__text">
                                            POSTULAR
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!--end of Masonry>
            </div>
            <!--end of container-->
        </section>

        <!-- formulario de postulación -->
        <section id="postulacion" class="bg--primary bg--primary--02">
            <div class="container">
                <div class="row">
                    <div class=" text-center col-sm-12">
                        <h2>¿Listo para dar el siguiente paso?</h2>
                        <p class="lead"> Postula completando tus datos en el siguiente formulario</p>
            
                    </div>
                </div>
            </div>
        </section>
        <section id="formulario-postulacion" class=" bg--primary bg--primary--02 unpad--bottom unpad--top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-1 ">
                        <div class="row">
                            <form class="form-email" data-success="Gracias por particicpar. Sus datos fueron enviado correctamente" data-error="Por favor, complete todos los campos obligatorios (*)."
                                novalidate="true">
                                <div class="col-sm-6 col-xs-12">
                                    <label>Nombre(s) y Apellidos (*)</label>
                                    <input type="text" name="Nombre" class="validate-required">
                                </div>
                                <!-- <div class="col-sm-6 col-xs-12">
                                    <label>DNI (*)</label>
                                    <input type="text" name="dni" class="validate-required">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>Fecha de Nacimiento (*)</label>
                                    <input type="text" name="nacimiento" class="datepicker validate-required" placeholder="Seleccione una fecha" />
                                </div> -->
                                <div class="col-sm-6 col-xs-12">
                                    <label>Correo Electrónico (*)</label>
                                    <input type="email" name="email" class="validate-required validate-email">
                                </div>
                                <div class="col-xs-12">
                                    <label>Postular al puesto de: (*)</label>
                                    <div class="input-select">
                                        <select class="validate-required">
                                            <option selected="" value="Default">Seleccione una opción</option>
                                            <option value="puesto_01">Puesto de Trabajo 1</option>
                                            <option value="puesto_02">Puesto de Trabajo 2</option>
                                            <option value="puesto_03">Puesto de Trabajo 3</option>
                                            <option value="puesto_04">Puesto de Trabajo 4</option>
                                            <option value="Otro">Otro / Postulación libre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <label class="upload" for="">Subir Curriculum Vitae - Word o PDF (*)</label>
                                    <input type="file" class="jfilestyle" data-input="false">
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <label>Mensaje</label>
                                    <textarea rows="4" name="Message" class=""></textarea>
                                </div>
                                <div class="col-sm-5 col-md-4 col-xs-6">
                                    <button type="submit" class="btn btn--primary type--uppercase">Enviar CV </button>
                                </div>
                            </form>
                        </div>
                        <!--end of row-->
                    </div>
                    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-1">
                        <br>
                        <p>También puedes contactarte con nosotros a través de los siguientes medios:</p>
                        <h4>
                            <i class="icon icon-Email icon--xs color--primary"></i> Email
                        </h4>
                        <p>
                            informes@grupoproteccionambiental.com           
                        </p>
                        <h4>
                            <i class="icon icon-Phone-2 icon--xs color--primary"></i>
                            Teléfonos
                        </h4>
                        <p class="">
                            <b>Central: </b> 959470743
                            <br>
                            <b>Operaciones: </b> 980060509 - 980060691
                        </p>
            
                        <h4>
                            <i class="icon icon-Map-Marker2 icon--xs color--primary"></i>
                            Oficinas
                        </h4>
            
                        <p>
                            <b>Arequipa: </b>Av. Las Americas S/N Urb. Caminos Del Inca F3 - Hunter
                            <br>
                            <b>Moquegua: </b>Ciudad Nueva H-32 Dpto. 8 Pacocha - Ilo</p>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </section>
       {% endblock %}