{% extends 'main/components/layout.html' %}
{% load static %}
{% block content %}
        <!-- Cover -->
        <section id="inicio"class="text-center height-100 imagebg" data-overlay="4">
            <div class="background-image-holder">
                <img alt="background" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/knowledge-1.jpg" />
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="h1">
                            SU MEJOR ALIADO NOSOTROS
                        </p>
                         <hr class="short">
                        <div class="typed-headline h2">
                            <span class=" inline-block">Servicios de </span>
                            <span class=" inline-block typed-text typed-text--cursor  color--primary" data-typed-strings="Intermediación Laboral, Limpieza Profesional, Sanidad Ambiental, Mantenimiento en Generales"></span>
                        </div>
                
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- End Cover -->
        
        <!-- Nosotros-->
        <section id="nosotros" class="text-center ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8">
                        <!-- <h1>Simple Centered</h1> -->
                        <blockquote class="">
                            "Somos una empresa arequipeña de reconocida trayectoria, comprometida a trabajar de la mano con nuestros socios para el logro de sus objetivos y la atención de sus exigencias empresariales".
                        </blockquote>
                    </div>

                </div>
                <!--end of row-->
                <!-- Mision Vision-->
                <div id="mision-vision" class="row">
                    <div class="col-sm-6 col-md-5 col-md-offset-1">
                        <div class="feature feature-6  text-center">
                            <i class="icon icon--md icon-Archery-2 color--primary "></i>
                            <h2 class="">Misión</h2>
                            <p>
                                Brindar servicios empresariales de potencial humano, utilizando modernas técnicas y tecnología cualitativa y ecoeficiente
                                que nos permitan proporcionar un servicio que cumpla con sistemas de calidad y ambientales, eficiente e integral
                                a nuestros clientes.
                            </p>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="feature feature-6  text-center">
                            <i class="icon icon--md icon-Eye-Visible color--primary"></i>
                            <h2>Visión</h2>
                            <p class="">
                                Consolidarnos como la empresa líder a nivel nacional en prestación de servicios empresariales de potencial humano de alta
                                calidad, velando por el buen manejo ecoeficiente.
                            </p>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

        <!-- certificaciones -->
        <section id="certificaciones" class="imageblock switchable feature-large bg--secondary space--sm">
            <div class="imageblock__content col-sm-4 pos-right">
                <div class="background-image-holder">
                    <img src="{% static 'main/images/certificacion.jpg'%}">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-xs-10 col-xs-offset-1">
                        <h3>Norma OHSAS 18001 – Sistema de Gestion de Seguridad y Salud</h3>
                        <p class="">
                            Fruto de nuestro esfuerzo, perseverancia constante y dedicación, contamos ahora con la certificación internacional según NORMA OHSAS 18001 – SISTEMA DE GESTION DE SEGURIDAD Y SALUD, una especificación internacionalmente aceptada que define los requisitos para el establecimiento, implantación y operación
                            de un Sistema de Gestión en Seguridad y Salud Ocupacional efectivo que ayuda a proteger a la empresa y a sus empleados. 
                        </p>
                        <p class=" lead text-center">
                            Además nuestra empresa cuenta con homologación según Trinorma de Proveedores Autorizados entre otras certificaciones.
                        </p>

                        <div class="slider slider--inline-arrows slider--arrows-hover" data-arrows="true">
                        <ul class="slides">
                            <li class="col-sm-3 col-xs-6">
                                <!-- <img alt="Image" class="image--sm" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-1.png" /> -->
                                 <img src="{% static 'main/images/certificaciones/OHSAS18001.jpg'%}" alt="image" class="image--md">
                            </li>
                            <li class="col-sm-3 col-xs-6">
                                <!-- <img alt="Image" class="image--sm" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-2.png" /> -->
                                <img src="{% static 'main/images/certificaciones/logo_sgs1.jpg'%}" alt="image" class="image--md">
                                
                            </li>
                            <li class="col-sm-3 col-xs-6">
                                <!-- <img alt="Image" class="image--sm" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-3.png" /> -->
                                <img src="{% static 'main/images/certificaciones/Logo_Minsa.jpg'%}" alt="image" class="image--sm">                                
                            </li>
                            <li class="col-sm-3 col-xs-6">
                                <!-- <img alt="Image" class="image--sm" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-4.png" /> -->
                                 <img src="{% static 'main/images/certificaciones/logo-trabajo.jpg'%}" alt="image" class="image--sm">
                            </li>
                            <li class="col-sm-3 col-xs-6">
                                <!-- <img alt="Image" class="image--sm" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-5.png" /> -->
                                 <img src="{% static 'main/images/certificaciones/senasa_grand.jpg'%}" alt="image" class="image--md">
                            </li>
                            <li class="col-sm-3 col-xs-6">
                                <!-- <img alt="Image" class="image--sm" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-6.png" /> -->
                                <img src="{% static 'main/images/certificaciones/ley_29783.jpg'%}" alt="image" class="image--sm">                                
                            </li>
                        </ul>
                    </div>

                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- End Certificaciones -->
    
        
        <!-- Servicios -->
        <section id="servicios" class="text-center bg--primary bg--primary--02 ">
            <!-- <div class="background-image-holder" style="background: url(&quot;https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/hero-1.jpg&quot;); opacity: 1;">
                <img alt="background" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/hero-1.jpg'%}">
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Nuestros Servicios</h2>
                        <p class="lead">
                            La experiencia adquirida garantiza la calidad de los servicios que brindamos.<br class="hidden-xs">
                            Nuestro compromiso es trabajar de la mano con nuestros socios para contribuir al logro de sus objetivos.
                        </p>
                    </div>
                </div>
                
                <br>
                <br>
                <br>
                <div class= "row">
                    <div class="col-sm-6 col-md-4 col-md-offset-2">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon--lg icon-Affiliate color--dark"></i>
                            <h4>Intermediación<br> Laboral</h4>
                            <hr>
                            <p>
                                Prestación de personal temporal y complementario para todo tipo de servicios. 
                            </p>
                            <a class="btn btn--primary" href="/intermediacion-laboral">
                                Ver más
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon--lg icon-Post-Office color--dark"></i>
                            <h4>Limpieza<br> Profesional e Industrial</h4>
                            <hr>
                            <p>
                                Limpieza de todo tipo de ambientes a cargo de personal altamente capacitado.
                            </p>
                            <a class="btn btn--primary" href="/limpieza-profesional-e-industrial">
                                Ver más
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <div class= "row">
                    <div class="col-sm-6 col-md-4 col-md-offset-2">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon--lg icon-Leafs color--dark"></i>
                            <h4>Saneamiento<br> Ambiental</h4>
                            <hr>
                            <p>
                                 Ambientes libres de contaminación y servicio de control de plagas. Manejo de tecnologias limpias y ecoeficientes.
                            </p>
                            <a class="btn btn--primary" href="/saneamiento-ambiental">
                                Ver más
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i class="icon icon--lg icon-Worker color--dark"></i>
                            <h4>Mantenimiento<br> y Servicios Generales</h4>
                            <hr>
                            <p>
                               Atención de cualquier eventualidad, urgencia, mejora o remodelación en servicios generales.
                            </p>
                            <a class="btn btn--primary" href="/mantenimiento-y-servicios-generales">
                                Ver más
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- End Servicios -->

        <!-- Por qué escogernos -->
        <section id="porqueescogernos" class="space--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center">Por qué escogernos</h2>
                    </div>
                </div>
                <br>
                <br>
                <div class="row"> 
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="feature feature-2 boxed boxed--border">
                            <i class="icon icon-Arrow-Forward2 color--primary"></i>
                            <div class="feature__body">
                                <p>Somos una de las pocas empresas a nivel nacional que cuentan con la certificación Internacional según Norma OHSAS 18001.</p>
                            </div>
                        </div>
                        <!--end feature-->
                    </div>

                    <div class="col-sm-5 col-sm-offset-0">
                        <div class="feature feature-2 boxed boxed--border">
                            <i class="icon icon-Arrow-Forward2 color--primary"></i>
                            <div class="feature__body">
                                <p>
                                    Contamos con procedimientos de manejo de tecnologías limpias acorde con una cultura de cuidado del medio ambiente.
                                </p>
                        
                            </div>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!-- end Row -->

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="feature feature-2 boxed boxed--border">
                            <i class="icon icon-Arrow-Forward2 color--primary"></i>
                            <div class="feature__body">
                                <p>
                                    Planificamos y desarrollamos procesos que permitan reducciones en los costos y significativos ahorros para nuestros clientes.
                                </p>
                            </div>
                        </div>
                        <!--end feature-->
                    </div>
               
                    <div class="col-sm-5 col-sm-offset-0">
                        <div class="feature feature-2 boxed boxed--border">
                            <i class="icon icon-Arrow-Forward2 color--primary"></i>
                            <div class="feature__body">
                                <p>
                                    Contamos con una buena gestión administrativa y personal altamente capacitado y especializado en todas las áreas.
                                </p>
                    
                            </div>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!-- end Row -->
                
                <div class="row">

                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="feature feature-2 boxed boxed--border">
                            <i class="icon icon-Arrow-Forward2 color--primary"></i>
                            <div class="feature__body">
                                <p>
                                    Todos nuestros servicios cuente con un Plan de Trabajo, supervisores idóneos, administradores de Gestión de contratos y
                                    ejecutivos para ampliar y desarrollar más servicios.
                                </p>
                    
                            </div>
                        </div>
                        <!--end feature-->
                    </div>

                    <div class="col-sm-5 col-sm-offset-0">
                        <div class="feature feature-2 boxed boxed--border">
                            <i class="icon icon-Arrow-Forward2 color--primary"></i>
                            <div class="feature__body">
                                <p>
                                     Nuestra organización tiene como lineamiento de política mantener una permanente comunicación con las empresas clientes con la finalidad de otorgar un buen servicio eficiente y seguro.
                                </p>
                    
                            </div>
                        </div>
                        <!--end feature-->
                    </div>
                                                   
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- End Por qué escogernos -->

        <!-- Clients -->
        <section id="clientes" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Nuestros Clientes</h2>
                        <p class="lead">
                            Principales empresas que respaldan nuetro trabajo
                        </p>
                    </div>
                </div>
                <!--end of row-->
                <br>
                <br>
                <br>
                <br>
                
                <div class="row text-center">
                    <div class="col-sm-12">
                        <ul class="list-inline list-inline--images">
                
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-5.png" />
                            </li>
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-7.png" />
                            </li>
                
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-6.png" />
                            </li>
                
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-5.png" />
                            </li>
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-7.png" />
                            </li>
                
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-6.png" />
                            </li>
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-5.png" />
                            </li>
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-7.png" />
                            </li>
                            
                            <li>
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/partner-6.png" />
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        
        </section>
        <!--end Clients-->
        
        <!-- Contact section-->
        <section id="contacto" class="switchable bg--secondary">
            <div class="container">
                <div class="row">
                    <div class=" text-center col-sm-12">
                        <h2>Contáctenos</h2>        
                        <p class="lead">De la mano con nuestros socios estratégicos contribuimos al logro de sus metas.</p>                
                    
                    </div>
                </div>
                    <br>
                    <br>
                    <br>
                <div class="row">
                    <div class="col-xs-10 col-sm-5 col-sm-offset-0">
                        <h4>
                            <i class="icon icon-Email icon--xs color--primary"></i> Email
                        </h4>
                        <p>
                             informes@grupoproteccionambiental.com <br>
                             comercializacion@grupoproteccionambiental.com <br>
                             operacion1@grupoproteccionambiental.com

                        </p>
                        <h4>
                            <i class="icon icon-Phone-2 icon--xs color--primary"></i>
                           Teléfonos
                        </h4>
                        <p class="">
                             <b>Central: </b> 959470743 <br> 
                             <b>Operaciones: </b> 980060509 - 980060691
                        </p>

                        <h4>
                            <i class="icon icon-Map-Marker2 icon--xs color--primary"></i>
                            Oficinas
                        </h4>
                        
                        <p> <b>Arequipa: </b>Av. Las Americas S/N Urb. Caminos Del Inca F3 - Hunter
                        <br> <b>Moquegua: </b>Ciudad Nueva H-32 Dpto. 8 Pacocha - Ilo</p>
                    </div>
                    <div class="col-xs-10 col-sm-6 col-sm-offset-0 ">
                        <div class="row">
                            <form class="form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <div class="col-sm-6 col-xs-12">
                                    <label>Nombre y Apellidos (*)</label>
                                    <input type="text" name="Name" class="validate-required" />
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>Empresa</label>
                                    <input type="text" name="Empresa" class="" />
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>Teléfono (*)</label>
                                    <input type="text" name="Telefono" class="validate-required" />
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>Correo Electrónico (*)</label>
                                    <input type="email" name="email" class="validate-required validate-email" />
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <label>Mensaje (*)</label>
                                    <textarea rows="4" name="Message" class="validate-required"></textarea>
                                </div>
                                <div class="col-sm-5 col-md-4 col-xs-6">
                                    <br>
                                    <button type="submit" class="btn btn--primary type--uppercase">Enviar Mensaje</button>
                                </div>
                            </form>
                        </div>
                        <!--end of row-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- End Contact section-->
        
        <!-- MAp section -->
        <section id="mapa" class="unpad">
            <div class="map-container">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.1872007731649!2d-71.56215405264687!3d-16.43752912319326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424aa4d8e17915%3A0xd9adf25999cc55d3!2sProteccion+Ambiental!5e1!3m2!1ses-419!2spe!4v1511308555535"></iframe>
                </div>
            </div>
            <!--end of container-->
        </section>
        <!-- End map section -->
        <!-- Footer -->
      
{% endblock %}