{% extends 'main/components/layout.html' %}

{% block content %}
        <!-- Header section -->
        <section id="header-section" class="imagebg cover cover-blocks bg--secondary" data-overlay="6">
            <div class="background-image-holder hidden-xs" style="background: url(&quot;https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/cowork-6.jpg&quot;); opacity: 1;">
                <img alt="background" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/cowork-6.jpg'%}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 ">
                        <div>
                            <h1>Intermediación Laboral</h1>
                            <hr class="short">
                            <p class="lead">
                                 Prestación de personal temporal y complementario para todo tipo de servicios.
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

        <section id="servicio-descripcion" class="space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                        <p class="lead text-center">
                            Brindamos personal temporal y complementario en los siguientes niveles: Ejecutivos, Técnicos y Operarios
                        </p>
                        <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/blog-6.jpg'%}">
                        <h4>Lo que caracteriza a nuestro servicio:</h4>
                        <ul class="dots">
                            <li>Realización de un Proceso de Selección para contar con el personal idóneo para su proyecto </li>
                            <li>Personal especializado en la elaboración de planillas que aplican todas las normas y leyes respecto a la                             remuneración, los trámites de Essalud, AFPs, Bancos y otros organismos, del personal contratado.</li>
                            <li>Evaluación constante del desempeño del personal contratado en la empresa.</li>
                            <li>Visita a la empresa cliente para recoger información y recomendaciones del servicio brindado.</li>
                        </ul>
                        
                        <!--end item-->
                    </div>
                </div>
            </div>
        </section>

        <section id="otros-servicios"class="bg--secondary space--sm">
            <div class="container">
                <div class="row text-block">
                    <div class="col-sm-12">
                        <h2>Otros servicios</h2>
                    </div>
                </div>
                <!--end of row-->
                
                <div class="row">
                    <div class="slider" data-arrows="true" data-paging="true">
                        <ul class="slides">
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Post-Office color--dark"></i>
                                        <br>
                                        <h4>Limpieza
                                            <br> Profesional e Industrial</h4>
                                        <a href="#">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Leafs color--dark"></i>
                                        <br>
                                        <h4>Saneamiento
                                            <br> Ambiental</h4>
                                        <a href="#">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Worker color--dark"></i>
                                        <br>
                                        <h4>Mantenimiento y Servicios Generales</h4>
                                        <a href="#">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Affiliate color--dark"></i>
                                        <br>
                                        <h4>Intermediación
                                            <br> Laboral</h4>
                                        <a href="#">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div?>
                    
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
       {% endblock %}   