{% extends 'main/components/layout.html' %}
{% load static %}
{% block content %}
        <!-- Header section -->
        <section id="header-section" class="imagebg cover cover-blocks bg--secondary" data-overlay="6">
            <div class="background-image-holder hidden-xs" style="background: url('https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/cowork-6.jpg'); opacity: 1;">
                <img alt="background" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/cowork-6.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 ">
                        <div>
                            <h1>Limpieza Profesional e Industrial</h1>
                            <hr class="short">
                            <p class="lead">
                                Ambientes limpios y saludables para las personas    
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

        <section id="servicio-descripcion" class="space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                        <p class="lead text-center">
                            Contamos con un servicio de limpieza para diferentes tipos de 
                            instalaciones y ambientes de acuerdo a las necesidades del cliente, a cargo de nuestro personal calificado.
                            
                        </p>
                        <img alt="Imagen Limpieza profesional" src="{% static 'main/images/servicios/limpieza-01.jpg'%}">
                        <h4>Nuestros servicios de limpieza incluyen:</h4>
                        <ul class="list dots">
                            <li>Limpieza de oficinas, fábricas, almacenes, hospitales, y todo tipo de ambientes.</li>
                            <li>Limpieza de maquinaria y equipo de plantas industriales. </li>
                            <li>Limpieza y mantenimiento industrial.</li>
                            <li>Trabajos en altura: limpieza de cristales, paredes, fachadas, techos y letreros luminosos. </li>
                            <li>Mantenimiento y embellecimiento de jardines y parques.</li>
                            <li>Abrillantado y tratamiento de todo tipo de pisos.</li>
                            <li>Pintura de ambientes, superficies.</li>
                            <li>Pintura Horizontal y señalización.</li>

                        </ul>
                        <br>
                        <img alt="Imagen Señalización" src="{% static 'main/images/servicios/senalizacion.jpg'%}" class="center-block">
                        <br>
                        <!-- <img alt="Imagen Limpieza profesional" src="{% static 'main/images/servicios/limpieza-02.jpg'%}" class="center-block"> -->

                        <!--end item-->
                    </div>
                </div>
            </div>
        </section>

        <section id="otros-servicios" class="bg--secondary space--sm">
            <div class="container">
                <div class="row text-block">
                    <div class="col-sm-12">
                        <h2>Otros servicios</h2>
                    </div>
                </div>
                <!--end of row-->
        
                <div class="row">
                    <!-- slider -->
                    <div class="slider" data-arrows="true" data-paging="true">
                        <ul class="slides">
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Leafs color--dark"></i>
                                        <br>
                                        <h4>Saneamiento
                                            <br> Ambiental</h4>
                                        <a href="/saneamiento-ambiental">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Worker color--dark"></i>
                                        <br>
                                        <h4>Mantenimiento y Servicios Generales</h4>
                                        <a href="/mantenimiento-y-servicios-generales">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Affiliate color--dark"></i>
                                        <br>
                                        <h4>Intermediación
                                            <br> Laboral</h4>
                                        <a href="/intermediacion-laboral">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Post-Office color--dark"></i>
                                        <br>
                                        <h4>Limpieza
                                            <br> Profesional e Industrial</h4>
                                        <a href="/limpieza-profesional-e-industrial">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div?>
                        <!-- end slider  -->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
        </section>
       {% endblock %}   