{% extends 'main/components/layout.html' %}

{% block content %}
        <!-- Header section -->
        <section id="header-section" class="imagebg cover cover-blocks bg--secondary" data-overlay="6">
            <div class="background-image-holder hidden-xs" style="background: url('https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/cowork-6.jpg'); opacity: 1;">
                <img alt="background" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/cowork-6.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 ">
                        <div>
                            <h1>Saneamiento Ambiental</h1>
                            <hr class="short">
                            <p class="lead">
                                Ambientes libres de contaminación y servicio de control de plagas. Manejo de tecnologias limpias y ecoeficientes.
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

        <section id="servicio-descripcion" class="space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                        <p class="lead text-center">
                             Protección Ambiental cuenta con los procedimientos, las personas y equipos adecuados para garantizar el cumplimiento de nuestro compromiso con el mejoramiento y calidad de las condiciones de vida de las personas, proporcionando ambientes saludables y libres de contaminación.
                        </p>
                        <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/blog-6.jpg">
                        <h4 class="text-center">Servicios que prestamos en Saneamiento Ambiental:</h4>
                        <ul class="list dots">
                            <li><b>Control de Vectores</b> 
                                <br>
                                <br>
                                <ul class="list circle">
                                    <li>Desinsectación:  Eliminación y controlar de la población de insectos nocivos como moscas, cucarachas, pulgas, etc.  que afectan la salud de las personas.</li>
                                    <li>Desratización: Eliminación de los roedores (ratas y ratones) que afectan un espacio determinado (viviendas, oficinas, industrias).</li>
                                    <li>Desinfección y fumigación de todo tipo de ambientes.</li>
                                    <li>Contamos con Procedimientos enmarcados dentro de una
                                    <b>Metodologia Ecoeficiente</b> para el control de vectores.
                                </ul></li>
                            </li>
                                <br>
                            <div class="bg--primary boxed boxed--md metodologia">
                                <img alt="Image" src="https://s3-sa-east-1.amazonaws.com/mediumrare-stack/1.5.0/stack/img/hero-1.jpg" class="border--round">
                                <h3 class="text-uppercase">Metodología Ecoeficiente</h3>
                                <!-- <br> -->
                                <p>En Protección Ambiental contamos con procedimientos ecoeficientes en la aplicacion de las medidas correctivas del control de plagas  , es decir, nuestros servicios ofrecen el cumplimiento de eliminación de los agentes dañinos al mismo tiempo que reducimos los impactos al medio ambiente. </p>
                             
                                
                                <h4>Los beneficios de nuestra metodologia ecoeficiente:</h4>
                                <ul class="list circle">
                                    <li>Usamos insumos que no producen daños en la salud de las personas.</li>
                                    <li>La aplicación de estas medidas no interfieren con las actividades cotidianas de las personas en el espacio que esta siendo aplicado.</li>
                                    <li>Se evita la contaminación cruzada indirecta que podría darse en el uso de otro tipo de insumos .</li>
                                    <li>Focalización del Vector, evitando afectar a otras especies.</li>
                                    <li>Manejo integral del vector (estudios previos, aplicación y seguimiento).</li>
                                </ul>
                            </div>
                            
                            <li><b>Tratamientos Fitosanitarios</b> <br>
                                Contamos con autorización de SENASA para ejecutar tratamientos químicos requeridos para el comercio de plantas, productos vegetales y otros artículos reglamentados.
                                <br>Estos tratamientos químicos son los aplicados cuando son requisitos de ingreso o salida del país o de un área reglamentada o cuando es determinado por los resultados de inspección fitosanitaria realizado por SENASA. 
                            </li>

                            <li><b>Limpieza y desinfección de reservorios de agua, tanques y cisternas (espacios confinados).</b>
                                <br>
                                 Nuestro personal se encuentra capacitado para realizar trabajos en espacios confinados y trabajos en altura.
                                 <br>
                                 Realizamos una limpieza y desinfección profunda con materiales y equipos de material inocuo para garantizar la labor de limpieza.
                            </li>

                        </ul>
                        
                        <!--end item-->
                    </div>
                </div>
            </div>
        </section>

        <section id="otros-servicios" class="bg--secondary space--sm">
            <div class="container">
                <div class="row text-block">
                    <div class="col-sm-12">
                        <h2>Otros servicios</h2>
                    </div>
                </div>
                <!--end of row-->
        
                <div class="row">
                    <!-- slider -->
                    <div class="slider" data-arrows="true" data-paging="true">
                        <ul class="slides">
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Worker color--dark"></i>
                                        <br>
                                        <h4>Mantenimiento y Servicios Generales</h4>
                                        <a href="/mantenimiento-y-servicios-generales">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Affiliate color--dark"></i>
                                        <br>
                                        <h4>Intermediación
                                            <br> Laboral</h4>
                                        <a href="/intermediación laboral">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Post-Office color--dark"></i>
                                        <br>
                                        <h4>Limpieza
                                            <br> Profesional e Industrial</h4>
                                        <a href="/limpieza-profesional-e-industrial">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-sm-4">
                                <div class="feature feature-1 text-center">
                                    <div class="feature__body boxed boxed--border">
                                        <i class="icon icon--lg icon-Leafs color--dark"></i>
                                        <br>
                                        <h4>Saneamiento
                                            <br> Ambiental</h4>
                                        <a href="/saneamiento-ambiental">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div?>
                        <!-- end slider  -->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
        </section>
       {% endblock %}   