{% load static %}

        <footer class="text-center space--xs footer-5 bg--dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <div>
                            <img alt="Image" class="logo-footer" src="{% static 'main/images/LOGO-PA-500.png'%}" />
                        </div>
                        <div>
                            <ul class="social-list list-inline list--hover">
                                <!-- <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li> -->
                                <li>
                                    <a href="https://web.facebook.com/proteccionambientalsrl" target="_blank" title="Facebook de Protección Ambiental">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        
                        <div>
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Protección Ambiental S.R.L.</span> <br>
                            <span class="type--fine-print">
                                 Desarrollado por 
                                <a class="type--fine-print" href="#">ATIX PLUS</a>
                            </span>
                            
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
          <!-- End Footer -->
    </div>
    <!-- End Main COntainer  -->
    

    <!-- <div class="loader"></div> -->
    
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
    <!-- Scripts -->
    <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'main/js/typed.min.js' %}"></script>
    <script src="{% static 'main/js/jquery-filestyle.min.js' %}"></script>
    <script src="{% static 'main/js/flickity.min.js' %}"></script>
    <script src="{% static 'main/js/typed.min.js' %}"></script>
    <script src="{% static 'main/js/isotope.min.js' %}"></script>
    <script src="{% static 'main/js/granim.min.js' %}"></script>
    <script src="{% static 'main/js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'main/js/scripts.js' %}"></script>
    <script>
        window.mr = {
            smoothscroll:{
                options: {
                    easing: 'swing',
                    autoFocus: true 
                }
            }
        };
         /* Input file */
        $(":file").jfilestyle({ 
            text: "Seleccionar archivo",
            buttonBefore: true
            
        });
    </script>
</body>
</html>